@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@layer base {
    * {
        font-family: 'Kumbh Sans', sans-serif;
    }

    body, html {
        overflow-x: hidden;
    }

    .content {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
    }

    .btn {
        @apply px-12 rounded-md py-2 font-semibold text-sm hover:scale-[1.02] transition-all ease-linear 
    }

    .logo {
        font-family: 'Righteous', cursive;
    }

    .nav-item {
        @apply text-darkGrayishBlue pb-7 mx-2 font-medium p-3 hover:text-primaryOrange transition-all before:transition-all relative before:absolute before:bottom-0 before:left-0 before:w-0 before:h-[3px] before:bg-primaryOrange before:opacity-0 hover:before:w-full hover:before:opacity-[1]
    }

    .nav-item.active {
        @apply text-primaryOrange before:opacity-[1] before:w-full font-semibold
    }

    .hover-information {
        @apply opacity-0 invisible delay-75 bg-slate-800 p-2 text-sm top-10 text-white rounded-md left-[50%] absolute translate-x-[-50%] before:absolute before:w-0 before:h-0 before:border-l-8 before:border-r-8 before:border-b-8 before:border-transparent before:border-b-slate-800 before:left-[50%] before:translate-x-[-50%] before:top-[-7px]
    }

    .home-card {
        @apply md:w-36 sm:w-24 w-[110px] p-2 transition-transform hover:scale-[1.05] cursor-pointer bg-white rounded-md shadow-[0px_0px_20px_0px_rgba(0,0,0,0.75)]
    }
}
