@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@layer base {
    * {
        font-family: 'Kumbh Sans', sans-serif;
    }

    ::selection {
        @apply bg-primaryOrange text-lightGrayishBlue
    }

    body, html {
        overflow-x: hidden;
    }

    body {
        @apply text-veryDarkBlue
    }

    button {
        outline: none;
    }

    .content {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
    }

    .btn {
        @apply p-12 flex items-center rounded-md py-2 font-semibold text-sm hover:scale-[1.02] transition-all ease-linear whitespace-nowrap 
    }

    .logo {
        font-family: 'Righteous', cursive;
    }

    .nav-item {
        @apply text-darkGrayishBlue pb-7 mx-2 font-medium p-3 hover:text-primaryOrange transition-all before:transition-all relative before:absolute before:bottom-0 before:left-0 before:w-0 before:h-[3px] before:bg-primaryOrange before:opacity-0 hover:before:w-full hover:before:opacity-[1]
    }

    .nav-item.active {
        @apply text-primaryOrange before:opacity-[1] before:w-full font-semibold
    }

    .hover-information {
        @apply opacity-0 invisible delay-75 bg-slate-800 p-2 text-sm top-10 text-white rounded-md left-[50%] absolute translate-x-[-50%] before:absolute before:w-0 before:h-0 before:border-l-8 before:border-r-8 before:border-b-8 before:border-transparent before:border-b-slate-800 before:left-[50%] before:translate-x-[-50%] before:top-[-7px]
    }

    .home-card {
        @apply md:w-36 sm:w-24 w-[110px] p-2 transition-transform hover:scale-[1.05] cursor-pointer bg-white rounded-md shadow-[0px_0px_20px_0px_rgba(0,0,0,0.75)]
    }

    .main-title {
        @apply mt-8 mb-4 font-bold text-3xl text-slate-800 border-b-[2px] rounded border-slate-200 pb-2 relative before:absolute before:bottom-[-2px] before:left-0 before:bg-slate-600 before:rounded before:w-1/3 before:h-[2px]
    }

    .detail-image {
        @apply w-32 max-h-32 border-[2px] transition border-slate-200 hover:border-grayishBlue rounded-xl overflow-hidden
    }

    /* Pagination Content */
    ul[role="navigation"]  {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4rem 0;
        column-gap: 0.5rem;
    }

    ul[role="navigation"] a {
        width: 45px;
        height: 45px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #dde6f3;
        transition: 200ms all ease;
    }
    ul[role="navigation"] a:hover {
        background-color: #b5c0cf;
    }

    ul[role="navigation"] li:first-child a,
    ul[role="navigation"] li:last-child a {
        width: 35px;
        height: 35px;
    }

    ul[role="navigation"] li.selected a {
        background-color: rgb(255, 125, 26);
        color: #fff;
        font-weight: bold;
    }

    /* LOADING */

    .circle-loading {
        opacity: 0;
        visibility: hidden;
        width: 16px;
        height: 16px;
        border: 3px solid #fff;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite, fade 300ms ease-in-out forwards;
    }

    .circle-loading.active {
        opacity: 1;
        visibility: visible;
    }

    @keyframes fade {
        0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
    }

    @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
}
